<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Bienvenido a Solai</title>
</head>
<body>
    <div style="height: 100% !important;padding-top: 15%;position: fixed;width: 100%; background: url(https://dsol-b.vercel.app/resources/55097.png) fixed; background-size: cover; text-align: center; height: 300px;">
        <h1 style="font-family: system-ui;font-size: 24px;">Bienvenido a Solai, {{name}}</h1>
        <p style="font-family: system-ui; font-size: 18px;">Gracias por registrarte en wesolai.com, te damos la bienvenida y para que puedas empezar necesitamos que verifiques tu correo.</p>
        <h2 style="font-family: system-ui;font-size: 22px;">¡Por favor verifica tu correo! </h2>
        <p style="font-family: system-ui;">Verifica tu correo pinchando en el siguiente enlace.</p>
        <a href="{{url}}" style="text-decoration: none;padding: 10px;border: 2px rgb(26, 183, 92) solid;border-radius: 10px;color: white;background-color: rgb(84, 76, 191);width: 100px;display: inline-block;">Verificar</a>
    </div>
</body>
</html>